{% extends "base.html" %}

{% block start %}

<html>
    <head>
        <title>About</title>
        <img src="https://img.freepik.com/premium-vector/online-food-delivery-service_317810-4453.jpg?w=500">
        <body>
            
            <p>
                In restaurant-controlled online food ordering, the restaurants create their own website and app, or choose to hire a delivery vendor. If they choose to create their own website, they make sure to obtain software that manages the orders efficiently, meaning it has the capability to manage different orders at once.[4] When they hire a vendor, the restaurant pays for a monthly fee or percentage-based fees. The vendor covers the developmental costs.

A customer can choose to have the food delivered or for pick-up/take-away. The process consists of a customer choosing the restaurant of their choice, scanning the menu items, choosing an item, and finally choosing for pick-up or delivery. Payment is then administered by paying with a credit card or debit card through the app or website or in cash at the restaurant when going to pickup.[4] The website and app inform the customer of the food quality, duration of food preparation, and when the food is ready for pick-up or the amount of time it will take for delivery.[12] Papa John's is one of the restaurants that created their own Papa John's system, website, and app, and do their own delivery. In 2010, they redesigned their website and launched mobile apps for iPhones, iPads, iPods, Androids Phones, Blackberrys, and Windows Phones.

The preexisting delivery infrastructure of these franchises paired with the online ordering system. In 2010, Papa John's International announced that its online sales had exceeded $2 billion.
            </p>
        </body>
    </head>
    </html>
{% endblock %}

 